#outer {
    width: 450px;
    height: 300px;
    position: absolute;
    z-index: 0;
    background-color: lightsteelblue;
}

#middle {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 75px;
    top: 50px;
    z-index: 1;
    background-color: sandybrown;
}

#inner {
    width: 200px;
    height: 150px;
    position: absolute;
    left: 50px;
    top: 25px;
    z-index: 2;
    background-color: sandybrown;
}

div {
    border-color: steelblue;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}
